page-cotacao {
  ion-content.geral{
    background-color: #ffd800;
  }

  ion-button.btn{
    margin-top: 10px;
  }
  .item-md{
    margin-bottom: 10px;
  }

  .btn{
    margin-top: 20px;
    padding: 35px;
    font-size: 2.4rem;
    border-radius: 3px
  }
}
